<body>
    <h1>List of Dungeons</h1>
    <table>
       <tr>
          <th><a (click)="sortby('did')">DID</a></th>
          <th><a (click)="sortby('name')">Name</a></th>
          <th><a (click)="sortby('cname')">Creator Name</a></th>
          <th><a (click)="sortby('highscore')">Highscore</a></th>
          <th><a (click)="sortby('minmoves')">Minimum Moves</a></th> 
       </tr>
       <tr *ngFor="let each of dungeon">
          <td class="data">{{each.did}}</td>
          <td class="data">{{each.name}}</td>
          <td class="data">{{each.cname}}</td>
          <td class="data">{{each.highscore}}</td>
          <td class="data">{{each.minmoves}}</td>
          <td class="links"><a [routerLink]="['./test', each.did]">Test Dungeon</a></td>
          <td class="links"><a [routerLink]="['./edit', each.did]">Edit Dungeon</a></td>
          <td class="links"><a (click)="deleteDungeon(each.did)">Delete Dungeon</a></td>
       </tr>
    </table> <p></p>
    <button [routerLink]="['./create']">Create Dungeon</button><p></p>
    <button [routerLink]="['..']">Back to Home</button>
 </body>