<body>
    <h1>List of Dungeons</h1>
    <button class="main" routerLink = "/diverlist">Diver List</button>
    <button class="main" routerLink = "/creatorlist">Creator List</button>
    <button class="main" routerLink = "/adminlist">Admin List</button>
    <table>
       <tr>
          <th>DID</th>
          <th>Name</th>
          <th>Creator</th>
          <th>Highscore</th>
          <th>Minimum Moves</th>
       </tr>
       <tr *ngFor="let each of dungeon">
          <td>{{each.did}}</td>
          <td>{{each.name}}</td>
          <td>{{each.creator}}</td>
          <td>{{each.highscore}}</td>
          <td>{{each.minmoves}}</td>
       </tr>
    </table>
 </body>