<body>
    <div class="topbargroup">
        <h1>
            <div class="admintext">Admin</div>
        </h1>
    </div>

    <li>
        <span>Create/Edit/Delete</span>
        <ul><button style="border: 5px solid rgb(199, 199, 199)" routerLink="/admin/userlist">User List</button></ul>
        <ul><button style="border: 5px solid rgb(0, 174, 255); background: rgb(89, 236, 255)" routerLink="/admin/diverlist">Diver List</button></ul>
        <ul><button style="border: 5px solid rgb(148, 0, 0); background:rgb(255, 68, 68)" routerLink="/admin/creatorlist">Creator List</button></ul>
        <ul><button style="border: 5px solid rgb(0, 138, 18); background: rgb(59, 253, 59)" routerLink="/admin/dungeonlist">Dungeon List</button></ul>
    </li>
</body>