div.admintext {
    display: inline-block;
    text-align: right;
    font-size: 55px;
    transform: skew(20deg);
    margin-top: 2px;
}

span {
    font-size: 45px;
    margin-left: 15px;
}

h1 {
    color: white;
    text-align: left;
    padding-left: 100px;
    border-right-style: groove;
    border-right-width: 10px;
    background-color: rgb(174, 0, 255);
    border-right-color: rgb(114, 0, 180);
    margin-left: -50px;
    width: 25%;
    height: 75px;
    transform: skew(-20deg);
}

div.topbargroup {
    overflow: hidden;
}

button {
    margin-top: 10px;
    width: 300px;
    font-size: 40px;
    padding-top: 10px;
}