<body>
    <div class="topbargroup">
        <h1>
            <div class="creatortext">Creator</div>
        </h1>
        <h2>
            <div class="cointext">Coins = {{creator.coins}}</div>
        </h2>
    </div>

    <li>
        <ul><button routerLink="/creator/dungeonlist">Go Dungeon Crawling</button></ul>
        <ul><button routerLink="/creator/dungeoncreator">Create a Dungeon</button></ul>
        <ul><button routerLink="/creator/upgrades">Buy Upgrades</button></ul>
    </li>
</body>