.invalidLabel {
    color: lightcoral;
}

div#tileSelector {
    position: absolute;
    font-size: 25px;
    width: 350px;
    height: 700px;
}

form {
    font-size: 25px;
}

input {
    height: 30px;
    font-size: 20px;
}

div#lecc {
    overflow: hidden;
    position: relative;
    display: block;
    left: 380px;
    top: 30px;
    width: 150px;
    height: 150px;
}

button {
    font-size: 30px;
    width: 175px;
}

button.tileS {
    font-size: 40px;
    width: 175px;
    height: 45px;
}

button#backhome {
    position: absolute;
    top: 800px;
}