<body id="helpMenu">
    <span id="full"></span>
    <div>
        <span>Instructions:</span>
        <ul>
            <li>Explore the dungeon!</li>
            <li>Use your arrow keys or the onscreen buttons to move.</li>
            <li>Defeat enemies to obtain keys.</li>
            <li>Use the keys to unlock the doors.</li>
            <li>Escape the dungeon in as few moves as possible!</li>
        </ul>
    </div>
    <footer id="footer">
        <button id="leave" (click)="close()">Sounds good.</button>
    </footer>
</body>